@charset "UTF-8";
body{
    background-color: rgb(166, 64, 64);
    font-size: 20px;
}
h1{
    color: chartreuse;
    text-align: center;
}
h2{
    color: aqua;
}
p{
    color: rgb(235, 239, 243);
    text-align:justify;
}