@charset "UTF-8";

body{
    background-color: rgb(110, 207, 175);
    font-family: Arial, Helvetica, sans-serif;
}
 h1{
    color: rgb(6, 114, 4);
 }
 h2{
    color: brown;
 }
 #principal{
    text-align: center;
    color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
 }
 .basico{
   color: #11b511;
 }

 .intermediario{
    color: #ac6e10;
 }

 .avancado{
    color: rgb(135, 5, 5);
    text-decoration: underline;
 }