@charset "UTF-8";

/*todas as demais midias*/

/*tipical Device Breackpoints
pequenas telas:até 600px 
Celular: de 600px até 768px
Tablet: 768ps até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px
*/


@media print {
    
}


@media screen and (min-width:768px) and (max-width:1024px){/*TABLET*/
    body{
        background-image:url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}   
}

@media screen and (min-width:1080px) and (max-width:1920px){/*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}  

}

@media screen and (min-width:1200px) {/*GRANDES TELAS*/
    
}

